.view {
    display: flex;
    justify-content: space-between;
}

.view-info {
    width: 68%;
}

.map {
    border: 1px solid black;
    width: 30%;
}

.map td{
    border: 1px solid black;
    height: 32px;
    width: 32px;
}

.map td .user{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
}
