.view {
    display: flex;
    justify-content: space-between;
}

.view-detail {
    width: 68%;
}

.map td{
    height: 32px;
    width: 32px;
}

.map td .fighter{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.map a:hover .highlight {
    background-color: #fff;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.map a.active .highlight {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.map a .picto {
    position: absolute;
    left: 0;
    top: 0;
}

.event{
    display: flex;
}

.report {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
