<div class="report">
    <p>Vous donnez un coup de poing à <b>{{ publicName }}</b></p>
    <p>Vous lui infligez <b>{{ damages }} points de dégât</b></p>
    {% if KO %}
        Votre adversaire est <b>mort</b> !
    {% endif %}
</div>
