<div class="report">
    <p>Vous attaquez <b>{{ publicName }}</b> à l'aide de votre {{ attacker.rightHandWeapon.name}}</p>
    <p>Vous lui infligez <b>{{ damages }} points de dégât</b></p>
    {% if KO %}
        Votre adversaire est <b>mort</b> !
    {% endif %}
</div>
